.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  max-width: 350px;
  width: 90%;
  text-align: center;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cancel-btn,
.delete-btn {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background: #ddd;
  color: #333;
  border: 1px solid #333;
}

.delete-btn {
  background: #e53935;
  color: #fff;
}

.delete-btn:hover  {
  background: #7c0401 ; 
  color: #fff;
}

.cancel-btn:hover {
  background: whitesmoke;
  color: #333;
  
}